* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
section {
	background: blue;
	padding: 1em;
	min-height: 10em;
}
aside {
	background: pink;
	padding: 1em;
	min-height: 10em;
}
header {
	background: brown;
	padding: 1em;
}
nav {
	background: green;
	padding: 1em;
	text-align: center;
}
footer {
	background: orange;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding: 1em;
}
nav > a {
	margin:0 0.5em 0 0.5em;
}

@media only screen and (min-width: 321px) {

	.wrapper {
		clear: both;
		overflow: auto;
	}
	section {
		width: 70%; 
		float: left;
	}
	aside {
		width: 30%; 
		float: right;
	}
	body {
		margin: 0 auto;
		width: 80%;
	}
	.sectionlayout1 {
		width:69%;
		margin: 2em 0;
	}
	.asidelayout1 {
		width: 29%;
		margin: 2em 0;
	}
}
